.DS_Store
.vagrant
.terraform
NotesForInstallingNomadConsulVaultInAWS.txt
vagrant.pem
data

#  Local .terraform directories
**/.terraform/*

# .tfstate files
**/**.tfstate
**/**.tfstate.*

# .tfvars files
**/terraform.tfvars
*/**backend.tfvars
*/**backend.tfvars*
*/**secrets.tfvars
*/**secrets.tfvars*

**/.vs/*
